<!DOCTYPE html>
<html>
<head>
<title>register user</title>
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>

<body>
<div class="register" id="register">
<form method="post" id="registerForm">
<p>
	<fieldset>
		<legend>Personal Records</legend>
<input type="text" name="patName" id="patName" placeholder="Name" required>
<input type="text" name="patAdd" id="patAdd" placeholder="Address"><br/>
<label for="patDOB">Date of Birth:	</label>
<input type="date" name="patDOB" id="patDOB" placeholder="Date of Birth" required><br/>

<label for="gender">Patient's Sex:	</label>
<input type="radio" name="gender" id="gender" value="male">male
<input type="radio" name="gender" id="gender" value="female">female
<br/>
<label for="ms">Marital Status:	</label>
<input type="radio" name="ms" id="ms" value="married">Married
<input type="radio" name="ms" id="ms" value="single">Single
<input type="radio" name="ms" id="ms" value="other">Other<br/>
<input type="text" name="patNat" id="patNat" placeholder="Nationality" required>
	</fieldset>
	</br>
	<fieldset>
		<legend>Specified details</legend>

<input type="text" name="patCode" id="patCode" placeholder="Distinct Code" required>
<input type="text" name="patBld" id="patBld" placeholder="Blood Group">

<textarea placeholder="Patient's medical report" id="patMed" rows="4" cols="20"></textarea>
<textarea placeholder="Overall health status" id="patOHS" rows="4" cols="20"></textarea>
	</fieldset></br>
	<input type="submit" name="submit" id="submit" value="Register" onclick="submitForm()">
</p>
</form>




<script src="https://www.gstatic.com/firebasejs/6.3.1/firebase-app.js"></script>
     <script>
		// Your web app's Firebase configuration
   var firebaseConfig = {
    apiKey: "AIzaSyB6VdVsRaa_XtWT7ZhV8NdZOpkaLfx8NQ4",
    authDomain: "patientino-3b6ec.firebaseapp.com",
    databaseURL: "https://patientino-3b6ec.firebaseio.com",
    projectId: "patientino-3b6ec",
    storageBucket: "",
    messagingSenderId: "129792681064",
    appId: "1:129792681064:web:6a94b828d0637206"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
     </script>
     
     <script src="static/logger.js"></script>
</body>
</div>

</html>
