<!DOCTYPE html>
<html>
<head>
<title>register user</title>
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>

<?php
  if(isset($_POST["submit"]))
  {
    include'connect.php';
    $pname=$_POST["patName"];
    $paddress=$_POST["patAdd"];
    $dob=$_POST["patDOB"];
    $pgender=$_POST["gender"];
    $pstatus=$_POST["ms"];
    $pnationality=$_POST["patNat"];
    $pcode=$_POST["patCode"];
    $pblood=$_POST["patBld"];
    $pmed=$_POST["medic"];
    $pOHS=$_POST["OHS"];

    $q="insert into patientdb (pname,paddress,dob,pgender,pstatus,pnationality,pcode,pblood,pmed,pOHS) values ('"$pname"','"$paddress"', '"$dob"', '"$pgender"', '"$pstatus"', '"$pnationality"', '"$pcode"', '"$pblood"', '"$pmed"', '"$pOHS"')";
    $sql=pg_query($q);
    if (sql){
    echo "successfully added";
  }
  }
?>

<body>
<div class="register" id="register" action="/login/search/reg/update">
<form method="post" id="registerForm">
<p>
	<fieldset>
		<legend>Personal Records</legend>
<input type="text" name="patName" id="patName" placeholder="Name" required>
<input type="text" name="patAdd" id="patAdd" placeholder="Address"><br/>
<label for="patDOB">Date of Birth:	</label>
<input type="date" name="patDOB" id="patDOB" placeholder="Date of Birth" required><br/>

<label for="gender">Patient's Sex:	</label>
<input type="radio" name="gender" id="gender" value="male">male
<input type="radio" name="gender" id="gender" value="female">female
<br/>
<label for="ms">Marital Status:	</label>
<input type="radio" name="ms" id="ms" value="married">Married
<input type="radio" name="ms" id="ms" value="single">Single
<input type="radio" name="ms" id="ms" value="other">Other<br/>
<input type="text" name="patNat" id="patNat" placeholder="Nationality" required>
	</fieldset>
	</br>
	<fieldset>
		<legend>Specified details</legend>

<input type="text" name="patCode" id="patCode" placeholder="Distinct Code" required>
<input type="text" name="patBld" id="patBld" placeholder="Blood Group">

<textarea name="medic" placeholder="Patient's medical report" id="patMed" rows="4" cols="20"></textarea>
<textarea name="OHS" placeholder="Overall health status" id="patOHS" rows="4" cols="20"></textarea>
	</fieldset></br>
	<input type="submit" name="submit" id="submit" value="Register">
</p>
</form>

</body>
</div>

</html>
