
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADTECH SEARCH</title>

    <!-- Bootstrap -->
     
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="static/js/script.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
 <link href="/static/css/search.css" rel="stylesheet">
  
  </head>
  
  <style>
 
 
 </style>
 <body>
 
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="./" class="navbar-brand">ADTECH</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Patients<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/login/search/reg">Add Patient</a></li>
            <li><a href="#">Patient list</a></li>
            
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Staff<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Add Staff</a></li>
            <li><a href="#">Staff list</a></li>
            
          </ul>
        </li>
        <li>
          <a href="#">Logout</a>
        </li>
        
      </ul>
    </nav>
  </div>
</header>

<div class ="adtech container  text-center">
<h1>ADTECH PATIENT'S MEDICAL RECORD SYSTEM</h1>
</div>
 <div class ="text">
   <h4> --Search For a Patient's Medical record--</h4>
 </div>	
<div id="cover">
  <form method="get" action="">
    <div class="tb">
      <div class="td"><input type="text" placeholder="Search" required></div>
      <div class="td" id="s-cover">
        <button type="submit">
          <div id="s-circle"></div>
          <span></span>
        </button>
      </div>
    </div>
  </form>
</div>
	
<div class="footer">
  <p>COPYRIGHT @ ADTECH 2019</p>
</div>
	 
<script src="static/js/script.js"></script>

  </body>
</html>
