<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="static/style.css"/>
<title>Update Patient Record</title>
</head>
<body>
<div class="container">
<div class="formstyler">
<form method="post">
<p>
<input type="text" id="currName" name="currName" placeholder="Name"><br/>
<textarea placeholder="Today's Condition" id="patCon" rows="5" cols="28"></textarea>
<input type="text" name="patPresc" id="patPresc" placeholder="Prescription"><br/><br/>

<input type="submit" name="submit" id="submit" value="update">
</p>
</form>
</div>


<div class="reader">
<form method="post">
<p>
<input type="text" name="patName" id="patName" placeholder="Name"><br/>
<input type="text" name="patLoc" id="patLoc" placeholder="Location">
<input type="date" name="patAge" id="patAge" placeholder="Age">
<input type="radio" name="gender" id="male" value="male">male
<input type="radio" name="gender" id="female" value="female">female
<input type="text" name="patCode" id="patCode" placeholder="Distinct Code"><br/>
<input type="text" name="patBld" id="patBld" placeholder="Blood Group">
<input type="text" name="patNat" id="patNat" placeholder="Nationality">

</p>
</form>
</div>
</div>

<script src="https://www.gstatic.com/firebasebasejs/6.3.1/firebase-app.js"></script>
<script>
	var firebaseConfig = {
			apiKey: "AIzaSyDKemERNtJH-j2iPFmxXDc-Xw7m9k1omTQ",
			authDomain: "adtech-84995.firebaseapp.com",
			databaseURL: "https://adtech-84995.firebaseio.com",
			projectId: "adtech-84995",
			storageBucket:"",
			messagingSenderId: "795847057867",
			appId: "1:795847057867:web:35fc3466642e1738"
		};
		firebase.initializeApp(firebaseConfig);
	
</script>

</body>
</html>
